.main {
  position: relative;
  display: flex;
  height: 60vh;
  width: 100%;
}

.main-vid {
  position: absolute;
  margin-top: 20px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  border-radius: 100px;
  object-fit: cover;
}
