.navbar {
    position: relative;
    height: 7vh;
    position: sticky;
    display: flex;
    justify-content: center;
    
}

#logo {
    position: absolute;
    padding-top: 30px;
    
    
}

#timeDisplay {
    margin-top: 70px;
    margin-left: -20px;
}

.Cart{
    position: absolute;
    right: 100px;
    margin-top: 20px;
}

