.footer {
  margin-top: 80px;
  width: 100%;
  position: absolute;
  position: fixed;
  bottom: 0;
}

.footer ul li {
  font-size: 14px;
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  text-decoration: none;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

.footer-elements {
  text-align: center;
}
